.App {
  text-align: center;
 
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: blue;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  font-family: "Helvetica", Sans-Serif;
  background-image: url("https://static.vecteezy.com/system/resources/previews/010/547/365/non_2x/light-purple-to-dark-purple-gradient-background-free-photo.jpg");
  background-size:4000px;
}

header{
  text-align: center;
}

.card_image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
  max-width: 13%;
  
}

.moderncard_image{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
  max-width: 13%;

}
.my-button {
  display: inline-block;
  padding: 8px 15px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #3498db;
  border-radius: 5px;
  color: #3498db;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.my-button:hover {
  background-color: purple;
  color: #ffffff;
}

.grid{
  display: grid;
  grid-template-columns: 10fr 700px;
}
.ken-card{
  height: 430px ;
  position: top;
  text-align: center;
}
.characteristics{
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin: 20px;
  margin-bottom: 300px

}
.header-title{
  background-image: linear-gradient(to top,
  var(--wds-midnight-color,rgba(var(--theme-accent-color--rgb),.15))54%,
  transparent 54%, transparent 100%);

}
.FirstCard{
  color: black;
  font-size: 18px;
  
  
}

.Second-Card{
  color: black;
  font-size: 18px;
  
}

ul{
  list-style-type: none;
}

.search-bar{
  width: 150px;
  display: inline-block;
  margin-top: 50px;

}